@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: #333;
}

/* Banner de fondo para el header */
.banner-header {
    background-image: url('encabezado_neven_AZUL_web_fondo_blanco_sin_logo_100.png');
    background-size: cover;
    background-position: center;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Sección del héroe */
.hero {
    text-align: center;
    padding: 100px 20px;
    background: rgba(255, 255, 255, 0.9);
    color: #333;
}

.logo-hero {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 2.8rem;
    color: #0052a5;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #AD8FFF;
    color: white;
    border-radius: 5px;
    font-size: 1.2rem;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.services {
    padding: 60px 20px;
    background: #f8f9fa;
    text-align: center;
}

.service-card {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    width: 100%;
}

.final-cta {
    text-align: center;
    padding: 50px 20px;
    background-color: #679dff;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 2rem;
    text-align: center;
}
